<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="masterhead">
			<div class="container">
				<h1 class="text-center" style="color: #fff;">客户端，拥有众多的硬件平台支撑</h1>
				<br>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<img alt="laptop" src="__IMG__/laptop.png" class="img-responsive img-center">
				</div>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<img alt="mobile" src="__IMG__/pd.png" class="img-responsive img-center">
				</div>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<img alt="router" src="__IMG__/router.png" class="img-responsive img-center">
				</div>
			</div>
		</div>
		<div class="subhead">
			<div class="container">
				<br>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<h2>电脑</h2>
					<hr>
					<ul class="list-unstyled">
						<li>Win：<a target="_blank" href="https://github.com/shadowsocks/shadowsocks-windows/releases" class="btn btn-primary">shadowsocks-win</a></li>
						<li>Win：<a target="_blank" href="https://github.com/shadowsocks/shadowsocks-qt5/releases" class="btn btn-info">Shadowsocks-Qt5</a></li>
						<li>Mac：<a target="_blank" href="https://github.com/shadowsocks/ShadowsocksX-NG/releases" class="btn btn-primary">ShadowsocksX-NG</a></li>
						<li>Linux：<a target="_blank" href="https://github.com/shadowsocks/shadowsocks-qt5/wiki/Installation" class="btn btn-primary">Shadowsocks-Qt5</a></li>
					</ul>
				</div>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<h2>手机</h2>
					<hr>
					<ul class="list-unstyled">
						<li>安卓：<a target="_blank" href="https://play.google.com/store/apps/details?id=com.github.shadowsocks" class="btn btn-primary">shadowsocks-android</a></li>
						<li>安卓beta版：<a target="_blank" href="https://play.google.com/apps/testing/com.github.shadowsocks" class="btn btn-danger">shadowsocks-android beta</a></li>
						<li>IOS：<a target="_blank" href="https://itunes.apple.com/us/app/wingy-http-s-socks5-proxy-utility/id1178584911" class="btn btn-primary">wingy</a></li>
					</ul>
				</div>
				<div class="col-lg-4" data-scroll-reveal="enter bottom">
					<h2>路由器OpenWRT</h2>
					<hr>
					<ul class="list-unstyled">
						<li>shadowsocks-libev：
							<ul class="list-unstyled">
								<li><pre>opkg install shadowsocks-libev</pre></li>
							</ul>
						</li>
						<li>shadowsocks-libev-polarssl：
							<ul class="list-unstyled">
								<li><pre>opkg install shadowsocks-libev-polarssl</pre></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{include file="default/footer"}
		{include file="default/js"}
		<script type="text/javascript" src="__JS__/scrollReveal.js"></script>
		<script type="text/javascript">


            (function($) {
                window.scrollReveal = new scrollReveal({
                    eset: true,
                    move: '40px'
                });
            })
            ();


		</script>
	</body>
</html>
