<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="login">
			<div class="container">
				<div class="col-lg-4">
					<form method="post" action="{:url('index/login')}">
						<h1>后台登录</h1>
						<hr />
						<input class="form-control" placeholder="账号" name="id" required/>
						<br />
						<input type="password" class="form-control" placeholder="密码" maxlength="20" name="pw" required/>
						<br />
						<input value="登录" class="btn btn-default" type="submit" />
					</form>
				</div>
			</div>
		</div>
		
		
		{include file="default/footer"}
		{include file="default/js"}
	</body>
</html>
