<nav class="navbar navbar-no-bg">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false">
				<span class="sr-only">下拉菜单</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="__ROOT__"></a>
			<p class="title">{$page_title}</p>
		</div>
				
		<div class="navbar-collapse collapse" id="top-navbar" aria-expanded="false" style="height: 0px;">
			<ul class="nav navbar-nav navbar-right">
				{if isset($is_login_admin) &&  $is_login_admin == 1}
				<li><a href="{:url('index/logout')}">登出</a></li>
				{else}
				<li><a href="{:url('index/login')}">登录</a></li>
				{/if}
			</ul>
		</div>
	</div>
</nav>