<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{include file="default/css"}
		<title>用户登录——{:config('site_name')}</title>
	</head>
	<body>
		{include file="default/header"}
		<div class="container">
			<div class="col-lg-4">
				<form action="{:url('index/user/login')}" method="post">
					<h1>用户登录</h1>
					<hr />
					<input name="id" class="form-control" placeholder="账号" required />
					<br />
					<input name="pw" type="password" class="form-control" placeholder="密码" maxlength="20" required />
					<br />
					<input value="登录" class="btn btn-default" type="submit" />
					<div class="pull-right">
						<a class="btn btn-default" href="{:url('index/user/register')}">注册</a>
						<a class="btn btn-default">忘记密码</a>
					</div>
					<br />
					
				</form>
			</div>
			<div class="col-lg-3">
				
			</div>
			<div class="col-lg-4">
				<img alt="login logo" src="__IMG__/userlogin.png">
			</div>
		</div>
			
		
		{include file="default/footer"}
		{include file="default/js"}
	</body>
</html>
