<!DOCTYPE html>
<html>
{include file="default/head"}
<body>
{include file="default/nav"}
<div class="login">
    <div class="container">
            <form id="reset" action="{:url('index/user/changepwd')}" method="post">
                <h1>密码修改</h1>
                <hr />
                <input id="pw1" name="pw1" type="password" class="form-control" placeholder="密码" maxlength="20" minlength="5" required />
                <br />
                <input id="pw2" name="pw2" type="password" class="form-control" placeholder="重复密码" maxlength="20" minlength="5" required />
                <br />
                <input value="修改" class="btn btn-default" type="submit" />


            </form>

    </div>
</div>



{include file="default/footer"}
{include file="default/js"}
</body>
</html>
