<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="user-status">
			<div class="container">
				<div class="status">
					<div class="container">
						<div class="col-lg-3">
							<img src="__IMG__/head.jpg" class="img-circle img-responsive" style="display: inline-block;">
							<a class="btn btn-default" href="{:url('index/user/changepwd')}" style="margin: 5% 25%;">修改登录密码</a>
						</div>
						
						<div class="user-info col-lg-7">
							{if $info['enable'] == 0}
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							您的账号已被管理员封禁。
							</div>
							{/if}
							{if $info['switch'] == 0}
							<div class="alert alert-info alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							您的账号还未激活，请打开邮箱激活链接。<a href="#">重发激活邮件</a>
							</div>
							{/if}
							<h2>{$user_name}，欢迎回来！</h2>
							<hr>
							<p>余额：{$info['money']} 元</p>
							<p>流量套餐：{$info['plan']} 计划，包含流量：{$total} GB <a class="btn btn-success" href="{:url('index/user/charge')}">充值</a></p>
							<p>上次签到时间：{if isset($checked['t'])}{$checked['t']}{/if}</p>
							<a class="btn btn-default" href="{:url('index/user/invite')}">邀请好友</a>
							{if isset($checked['e']) && $checked['e'] == 1}
							<a class="btn btn-default pull-right" href="{:url('index/user/checkin')}">签到</a>
							{else}
							<a class="btn btn-default pull-right" href="javascript:void(0)">已签到</a>
							{/if}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bandwith-status">
			<div class="container">
				<div class="status">
					<h3>流量使用情况<a></a></h3>
					<hr>
					<p>剩余流量</p>
					<p>{$total} GB / {$total * $remain / 100} GB</p>
					<div class="progress">
						<div class="progress-bar total-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {$remain}%; min-width: 3em;">
							{$remain}%
						</div>
					</div>
					<hr>
					<p>使用流量</p>
					<p>上行流量：{$upload} GB，下行流量：{$download} GB</p>
					<div class="progress">
						<div class="progress-bar progress-bar-success download-bar" style="width: {$progress_u}%; min-width: 2em;">
							{$progress_u}%
						</div>
						<div class="progress-bar progress-bar-warning upload-bar" style="width: {$progress_d}%; min-width: 2em;">
						 	{$progress_d}%
						</div>
					</div>
					<hr>
					<p>上次使用时间：{$last_time}</p>
				</div>
			</div>
		</div>
		{if $info['switch'] == 1 && $info['enable'] == 1}
		<div class="node-list">
			<div class="container">
				<div class="user-node-info">
					<h4>账号信息</h4>
					<p>端口：<code>{$info['port']}</code></p>
					<p>连接密码：<code>{$info['passwd']}</code></p>
					<a class="btn btn-danger" href="{:url('index/user/resetpwd')}">密码重置</a>
				</div>
				<div class="status">
					<h3>节点信息</h3>
					<hr>
					<div class="panel panel-default node-panel" id="list">
						<table class="table">
							<thead>
								<th>#</th>
								<th>节点名称</th>
								<th>节点描述</th>
								<th>节点地址</th>
								<th>加密方式</th>
								<th>可用性</th>
							</thead>
							<tbody>

								{volist name='node' id='vo'}
									<tr>
										<td>{$vo.id}</td>
										<td>{$vo.node_name}</td>
										<td>{$vo.node_info}</td>
										<td><code>{$vo.node_server}</code></td>
										<td><code>{$vo.node_method}</code></td>
										<td>{$vo.node_status}</td>
									</tr>
								{/volist}


							</tbody>

						</table>
						<br>
						{$page}
						
					</div>
				</div>
			</div>
		</div>
		{/if}

		{include file="default/footer"}
		{include file="default/js"}

		<script>
            $(function(){
                $("#list").on('click', ".pagination li a",function(){
                    var pageObj = this;
                    var url = pageObj.href;
                    $.ajax({
                        type:'get',
                        url:url,
                        success:function(res){
                            $("#list").html(res);

                        }

                    });
                    return false;
                })
            })

		</script>
	</body>
</html>
