<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="login">
			<div class="container">
				<div class="col-lg-4">
					<form action="{:url('index/user/login')}" method="post">
						<h1>用户登录</h1>
						<hr />
						<input id="user" name="user" class="form-control" placeholder="账号" value="{$user}" required />
						<br />
						<input id="pw" name="pw" type="password" class="form-control" placeholder="密码" maxlength="20" minlength="5" required />
						<br />
						<input value="登录" class="btn btn-default" type="submit" />
						<div class="pull-right">
							<a class="btn btn-default" href="{:url('index/user/register')}">注册</a>
							<a class="btn btn-default" href="{:url('index/user/forgot')}">忘记密码</a>
						</div>
						<br />
						
					</form>
				</div>
				<div class="col-lg-3">
					
				</div>
				<div class="col-lg-4">
					<img class="img-responsive" alt="login logo" src="__IMG__/userlogin.png">
				</div>
			</div>
		</div>
		
			
		
		{include file="default/footer"}
		{include file="default/js"}
	</body>
</html>
