<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="register">
			<div class="container">
				<div class="col-lg-5">
					<form action="{:url('index/user/register')}" method="post" id="reg">
						<h1>用户注册</h1>
						<hr />
						<input id="id" name="id" class="form-control" placeholder="账号" required />
						<br />
						<input id="email" name="email" class="form-control" type="email" placeholder="电子邮件" maxlength="32" required />
						<br />
						<input id="pw1" name="pw1" type="password" class="form-control" placeholder="密码" maxlength="20" minlength="5" required />
						<br />
						<input id="pw2" name="pw2" type="password" class="form-control" placeholder="重复密码" maxlength="20" minlength="5" required />
						<br />
						<input id="code" name="code" type="text" class="form-control" placeholder="邀请码" maxlength="27" required />
						<hr />
						<input value="注册" class="btn btn-default" type="button" onclick="check();" />
						<br />
						
					</form>
				</div>
				<div class="col-lg-2">
					
				</div>
				<div class="col-lg-4">
					<img  class="img-responsive" alt="login logo" src="__IMG__/reg.png">
				</div>
	
			</div>
		</div>
		{include file="default/footer"}
		{include file="default/js"}
		<script type="application/javascript">
            function check() {
				alert('1');
				$('#reg').submit();
            }

            function checkpw2() {
                if($('#pw2').val() != $('#pw1').val())
                    $('#pw2').addClass('warning');
                else if($('#pw2').hasClass('warning'))
                    $('#pw2').removeClass('warning');
            }

            $('#pw1').change(function(){
                checkpw2()
            });
            $('#pw2').change(function(){
                checkpw2()
            });





		</script>
	</body>
</html>
