<!DOCTYPE html>
<html>
	{include file="default/head"}
	<body>
		{include file="default/nav"}
		<div class="user-status">
			<div class="container">
				<div class="status">
					<div class="container">
						<div class="col-lg-3">
							<img src="__IMG__/head.jpg" class="img-circle img-responsive" style="display: inline-block;">
						</div>
						
						<div class="user-info col-lg-7">
							{if $info['enable'] == 0}
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							您的账号已被管理员封禁。
							</div>
							{/if}
							{if $info['switch'] == 0}
							<div class="alert alert-info alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							您的账号还未激活，请打开邮箱激活链接。<a href="#">重发激活邮件</a>
							</div>
							{/if}
							<h2>{$user_name}，欢迎回来！</h2>
							<hr>
							<p>注册时间：{$info['reg_date']}</p>
							<p>邮箱：{$info['email']}
							<p>余额：{$info['money']} 元</p>
							<p>流量套餐：{$info['plan']} 计划，包含流量：{$total} GB <a class="btn btn-primary" href="{:url('index/user/charge')}">充值</a></p>
							<a href="{:url('index/user/resetpwd')}" class="btn btn-danger">重置连接密码</a>
							<a class="btn btn-default">重置登录密码</a>

							
						</div>
					</div>
				</div>
			</div>
		</div>


		{include file="default/footer"}
		{include file="default/js"}
	</body>
</html>
